@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --primary: #EF233C;
    --background: #EDF2F4;
}

body {
    background: var(--background);
    font-family: 'Inter', sans-serif;
}

.titleBottomBar {
    height: 5px;
    width: 75px;
    background: #000;
    border-radius: 5px;
    margin: 0 auto;
}

.title {
    font-size: 45px;
    font-weight: 800;
    line-height: 58px;
    text-align: center;
    color: var(--primary)
}

.padding {
    padding: 25px;
}

.roundedRedButton,
.roundedGrayButton {
    color: #fff;
    height: 53px;
    max-width: 162px;
    padding: 20px;
    border-radius: 300px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.roundedRedButton {
    background: var(--primary);

}

.roundedGrayButton {
    background: #AEAEAE;
}

.grayMessage {
    font-size: 20px;
}


@media (min-width: 768px) {
    .grayMessage {
        font-size: 20px;
    }
}

.inputBlock {
    text-align: left;
    margin: 0 auto;
    /* width: 320px; */
    width: 100%;
    height: 56px;
    position: relative;
}

.inputBlock label.active {
    transform: translate(20px, -12px);
    font-size: 16px;
    color: #565656;
    background: var(--background);
    padding: 0 5px;
    transition: 0.1s ease-out;
}

.inputBlock label {
    font-size: 24px;
    position: absolute;
    transform: translate(20px, 9px);
    color: #AEAEAE;
    pointer-events: none;
    transition: 0.1s ease-out;
}

.inputBlock input {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: none;
    border: 1px solid #AEAEAE;
    padding: 0 20px;
    font-size: 24px;
    transition: border-color 0.1s ease-out;
}

.inputBlock input:focus {
    border: 3px solid #565656;
    outline: none;
}


form {
    display: grid;
    gap: 20px;
}

.loginCheckbox {
    width: 25px;
    height: 25px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 2px solid #AEAEAE;
    border-radius: 5px;
    position: relative;
}

.loginCheckbox:checked {}

.loginCheckbox:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    right: 3px;
    bottom: 4px;
    background-color: #AEAEAE;
    border-radius: 2px;
}

.DataTableInput {
    width: 100%;
    padding: 8px;
    background: none;
    outline: none;
}

.DataTableSelect {
    width: 100%;
    border-radius: 5px;
    background: var(--primary);
    color: #fff;

}

td {
    padding: 0 !important;
}